body {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 10px solid #007bff;
  height: 100vh;
  position: relative;
}

header {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.control-block {
  display: inline-block;
  border: 1px solid #333;
  padding: 3px;
  position: relative;
  margin-bottom: 5px;
  vertical-align: top;
  background-color: #efe;
  border-radius: 5px;
  margin-right: -1px;
}
.tab-content .control-block:last-child {
  margin-right: 5px;
}
.control-block h2 {
  padding: 3px 8px;
  text-align: center;
  background-color: #ff0700;
  color: white;
  margin: -3px -3px 5px -3px;
  text-shadow: -1px -1px black;
  border-bottom: 1px solid #669;
  font-size: 1.2em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.control > * {
  display: block;
  margin: 0 auto 5px;
}
.control,
.control-group {
  display: inline-block;
  border: 1px solid #669;
  min-width: 40px;
  padding: 3px 3px 3px 3px;
  height: 210px;
  position: relative;
  text-align: center;
  vertical-align: top;
}
.control-group .control {
  border-width: 0;
  padding: 0;
  height: 204px;
  transition: opacity 0.5s;
}

.control > .control-label {
  font-weight: bold;
  height: 18px;
}

.control-slider > span {
  border: 1px solid #99c;
  width: 36px;
  height: 20px;
  color: #99c;
  padding: 2px 0;
  line-height: 1;
}
.control-slider > span.digits-5 {
  width: 42px;
}

.control-slider > div {
  width: 20px;
}

.radio-buttons,
.check-buttons {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 3px;
  line-height: 30px;
}
.radio-buttons div,
.check-buttons div {
  border: 1px solid #669;
  margin-bottom: 1px;
  border-radius: 6px 6px 6px 6px;
  padding: 2px 3px 2px 4px;
  min-width: 60px;
}
.radio-buttons div:hover,
.check-buttons div:hover {
  background-color: rgba(0, 123, 255, 0.4);
  cursor: pointer;
}
.radio-buttons span,
.check-buttons span {
  float: left;
  margin: -1px 4px 0 -2px;
}

.check-buttons span {
  pointer-events: none;
  touch-action: none;
}

#lfo-manual-trigger-wrapper {
  margin-top: 23px;
  display: none;
}

.hpf-width {
  min-width: 50px;
}
.chorus-width {
  min-width: 73px;
}

#synth-sequencer .control {
  min-width: 300px;
  padding: 5px;
  text-align: left;
}

#synth-analyse .control {
  min-width: 300px;
  padding: 5px;
  text-align: left;
}

.patch-list {
  min-width: 160px;
  text-align: left;
  height: 210px;
}
.patch-list ul {
  list-style-type: none;
  display: inline-block;
  padding: 0 0 0 2px;
  vertical-align: top;
}
.patch-list ul a.btn {
  padding: 2px 3px;
  text-align: left;
  margin: 0 1px 2px 2px;
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.patch-list ul a.can-delete-item {
  width: 160px;
}
.patch-list ul a.delete-item {
  float: right;
  display: none;
  padding: 0 8px 0;
  border-left: 1px solid #666;
}
.patch-list ul a:hover a.delete-item {
  display: block;
}

#piano-block {
  overflow: hidden;
  display: block;
}
#piano-block .control.float-left {
  margin-right: 5px;
}
#piano-block .control.float-right {
  margin-left: 5px;
}
#piano-block .radio-buttons {
  margin-top: 0;
}
#piano-wrapper {
  overflow: hidden;
  border: 1px solid #669;
  position: relative;
}
#piano {
  position: relative;
  left: -504px;
  margin: -2px 0 0;
  transition: margin-left 0.5s;
}
#piano > div > span {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #666;
  overflow: hidden;
}
#piano > div > span:last-child {
  border-right-width: 2px;
}
.piano-key-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  color: #bbb;
  pointer-events: none;
  touch-action: none;
}

#synth-container {
  position: absolute;
  top: 80px;
  left: 1%;
  right: 1%;
  border: 3px solid #ff0700;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 123, 255, 0.5);
  background-color: #ccf;
  zoom: 0.85;
}
#synth-container .nav-tabs {
  border-bottom: none;
  padding: 0 20px;
  position: relative;
}
#synth-container .nav-item {
  margin-bottom: -2px;
}
#synth-container .nav-link {
  border: 1px solid #669;
  margin-right: 5px;
  border-bottom-color: transparent;
}
#synth-container .nav-link:focus,
#synth-container .nav-link:hover {
  border-color: #336;
  background-color: #ddf;
}
#synth-container .nav-link.active {
  border-color: #336;
  background-color: #ddf;
  border-bottom-color: #ddf;
}
#synth-container .tab-content {
  background-color: #ddf;
  border: 1px solid #336;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  white-space: nowrap;
}
#synth-container .tab-pane {
  position: relative;
  width: 100%;
  overflow-x: auto;
  padding: 5px;
  height: 285px;
}
#synth-performance {
  position: relative;
  margin-top: 5px;
}

.navbar {
  padding: 0.25rem 1rem;
  margin-left: auto !important;
}
.navbar-nav {
  flex-direction: inherit;
}

.modal-backdrop.show {
  opacity: 0.2;
}
.modal-content {
  border: 2px solid #048;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
.modal-header {
  background-color: #007bff;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 12px 10px;
  border-bottom: 2px solid #ff0700;
}
.modal-footer {
  background-color: #007bff;
  color: white;
  justify-content: flex-start;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4px 8px;
  border-top: 2px solid #ff0700;
}
.modal-footer .btn {
  min-width: 70px;
  color: white;
}
.modal-body input,
.modal-body textarea,
.modal-body select {
  padding: 3px 9px;
}
.modal-body {
  background-color: #ccf;
}

#btnRecord div.whenRecording {
  display: none;
}
#btnRecord.recording div.whenRecording {
  display: block;
  color: red;
}
#btnRecord div.whenNotRecording {
  display: block;
}
#btnRecord.recording div.whenNotRecording {
  display: none;
}

.dropdown-menu {
  left: 32px !important;
  padding: 2px;
  border: 1px solid #666;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #6c757d;
}

#oscilloscope {
  width: 70%;
}
#oscilloscope .control {
  width: 100%;
}
#spectrogram {
  width: 29.9%;
}
#spectrogram .control {
  width: 100%;
}
